<div class="accountpage">
    <div class="profile">
        <img src="https://i.pravatar.cc/300" alt="">
        <h1>Name: {{username}}</h1>
        <h2>Email: {{email}}</h2>
    </div>
    <div class="orders">
        <h1>My Orders</h1>
        <div class="container"> 
            {{#each orders}}
            <div class="item">
                <h3>Order {{this.id}}</h3>
                <ul class="menuitems">
                   <li>Menu Item 1</li>
                   <li>Lorem iel a provident hic cum incidunt, illo aperiam?</li> 
                   <li>Menu Item 3</li>  
                </ul>
            </div>
            {{/each}}
            
        </div>
    </div>
</div>