<div class="signup-page">
    <h1>Login</h1>
    <form id="login-form">
        <label for="username">Username</label>
        <input type="text" id="username">
        <label for="password">Password</label>
        <input type="password" id="password">
        <input type="submit" value="Login">
    </form>
    <p>Do not have account? <a href="/signup">Sign Up Here</a></p>
</div>

<script src="/js/login.js"></script>